<template>
  <section id="collectionList" class="is-relative">
    <h3
      class="mt-2 mb-4 title has-text-grey-dark has-text-centered is-size-4-touch"
    >
      Collections
    </h3>
    <!-- CREATE A NEW COLLECTION FORM -->
    <create-input
      label="Create collection"
      size="is-small"
      :create="createCollection"
    >
      <template slot="input">
        <b-input
          size="is-small"
          type="text"
          v-model.trim="$v.name.$model"
          expanded
        />
      </template>
    </create-input>
    <!-- COLLECTIONS LIST -->
    <todo-list
      :list="collections"
      :get="getCollection"
      :remove="deleteCollection"
      notFoundMsg="You do not have any collection."
      v-if="!collectionsLoading"
      key="collection-list"
    />
    <is-loading v-else key="collection-list" />
  </section>
</template>

<script>
import CreateInput from "@/components/Form/CreateInput.vue";
import TodoList from "./TodoList.vue";
import { mapState, mapActions } from "vuex";
import { validationMixin } from "vuelidate";
import { createCollection } from "@/utils/collectionFetch";
import { collectionMixin } from "@/mixins/collection";

export default {
  name: "CollectionsList",
  mixins: [collectionMixin, validationMixin],
  components: {
    CreateInput,
    IsLoading: () => import("./IsLoading.vue"),
    TodoList
  },
  computed: {
    ...mapState({
      collections: (state) => state.collectionStore.collections,
      collectionsLoading: (state) => state.collectionStore.collectionsLoading
    })
  },
  methods: {
    ...mapActions("collectionStore", [
      "changeCurrentCollection",
      "addCollection",
      "removeCollection"
    ]),
    async getCollection(id) {
      this.changeCurrentCollection(id);
    },
    async createCollection() {
      this.$v.$touch();
      if (this.$v.$invalid) {
        this.toast("You must enter a valid collection name", "is-warning");
        return;
      }
      try {
        const collection = await createCollection(this.name);
        this.name = "";
        if (collection.errors) throw new Error();
        this.addCollection(collection);
        this.toast(
          "The collection has been created successfully",
          "is-success"
        );
      } catch (error) {
        this.toast(
          "An error occurred while creating the collection",
          "is-danger"
        );
      }
    },
    async deleteCollection(id) {
      this.removeCollection(id)
        .then(() => {
          this.toast("The collection has been correctly deleted", "is-success");
        })
        .catch(() => {
          this.toast(
            "There has been a mistake deleting the collection",
            "is-danger"
          );
        });
    }
  }
};
</script>
