<template>
  <div
    class="is-flex is-flex-center is-width-100 is-relative m-auto-mobile"
    id="currentCollection"
  >
    <template v-if="!currentCollectionLoading">
      <div
        v-if="currentCollection"
        class="is-flex is-flex-center is-flex-column is-width-100"
      >
        <!-- COLLECTION NAME -->
        <p class="title is-size-2">{{ currentCollection.name }}</p>
        <!-- TASK CONTAINER -->
        <div class="is-width-50 is-width-90-mobile">
          <create-input label="Create task" :create="newTask">
            <template slot="input">
              <b-input type="text" v-model.trim="$v.name.$model" expanded />
            </template>
          </create-input>
        </div>
        <todo-list
          :list="currentCollection.tasks"
          :remove="deleteTask"
          :get="editTask"
          notFoundMsg="There are no tasks"
          :width="40"
        >
        </todo-list>
      </div>
      <div v-else>
        <p>No collection selected</p>
      </div>
    </template>
    <!-- SPINNER LOADING -->
    <is-loading v-else />
  </div>
</template>

<script>
import { validationMixin } from "vuelidate";
import { collectionMixin } from "@/mixins/collection";
import { mapState, mapActions } from "vuex";

export default {
  name: "CurrentCollection",
  mixins: [collectionMixin, validationMixin],
  computed: mapState("collectionStore", [
    "currentCollection",
    "currentCollectionLoading"
  ]),
  components: {
    CreateInput: () => import("@/components/Form/CreateInput.vue"),
    IsLoading: () => import("./IsLoading.vue"),
    TodoList: () => import("./TodoList.vue")
  },
  methods: {
    ...mapActions("collectionStore", [
      "createTask",
      "removeTask",
      "toggleTask"
    ]),
    async newTask() {
      this.$v.$touch();
      if (this.$v.$invalid) {
        this.toast(
          "You must enter a valid task name",
          "is-warning",
          null,
          "is-bottom"
        );
        return;
      }
      this.createTask(this.name)
        .then(() => {
          this.toast(
            "Task created successfully",
            "is-success",
            null,
            "is-bottom"
          );
        })
        .catch((error) => {
          this.toast(error, "is-danger", null, "is-bottom");
        })
        .finally(() => {
          this.name = "";
        });
    },
    deleteTask(id) {
      this.removeTask(id)
        .then(() => {
          this.toast(
            "The task has been successfully deleted",
            "is-success",
            null,
            "is-bottom"
          );
        })
        .catch(() => {
          this.toast(
            "An error has occurred deleting the task",
            "is-danger",
            undefined,
            "bottom"
          );
        });
    },
    editTask(id) {
      this.toggleTask(id)
        .then(() => {
          this.toast(
            "The task has been updated successfully",
            "is-success",
            1000,
            "is-bottom"
          );
        })
        .catch(() => {
          this.toast(
            "An error has occurred editing the task",
            "is-danger",
            null,
            "is-bottom"
          );
        });
    }
  }
};
</script>
