<template>
  <div class="is-flex is-flex-center">
    <b-loading
      v-model="isLoading"
      :is-full-page="false"
      :can-cancel="false"
    ></b-loading>
  </div>
</template>

<script>
export default {
  name: "isLoading",
  data() {
    return {
      isLoading: true
    };
  }
};
</script>
