<template>
  <section id="todoList" :class="isWidth">
    <ul id="list" v-if="list.length" key="list">
      <li
        v-for="item in list"
        :key="item.id"
        class="is-flex mb-4 is-justify-between"
      >
        <a class="has-text-grey-darker" @click="get(item.id)">
          <p
            :class="{
              'has-text-success has-text-through': item.done ? item.done : false
            }"
          >
            {{ item.name }}
          </p>
        </a>
        <a class="has-text-danger" @click="deleteItem(item.id)">X</a>
      </li>
    </ul>
    <div class="has-text-centered" v-else key="list">
      <p>{{ notFoundMsg }}</p>
    </div>
  </section>
</template>

<script>
export default {
  name: "TodoList",
  props: {
    list: Array,
    get: Function,
    remove: Function,
    notFoundMsg: {
      type: String,
      default: "List not found"
    },
    width: {
      type: Number,
      default: 100
    }
  },
  computed: {
    isWidth() {
      return `is-width-${this.width} is-width-${this.width * 2}-mobile`;
    }
  },
  methods: {
    deleteItem(id) {
      this.$buefy.dialog.confirm({
        title: "Deleting item",
        message: "You are about to remove an item from the list",
        confirmText: "Delete item",
        type: "is-danger",
        hasIcon: true,
        onConfirm: () => this.remove(id)
      });
    }
  }
};
</script>
