// Global
html,
body {
  overflow: hidden;
}

// Size
@for $i from 10 through 100 {
  @if $i % 10 == 0 {
    .is-width-#{$i} {
      width: 0% + $i;
    }

    // Mobile
    @media screen and (max-width: 768px) {
      .is-width-#{$i}-mobile {
        width: 0% + $i;
      }
    }
  }
}

.is-full-height {
  height: 100vh;
}

.is-complete-height {
  height: $complete-height;
  @media screen and (max-width: 768px) {
    height: auto;
  }
}

// Position
.is-relative {
  position: relative;
}

// Aligment
.is-flex-center {
  align-items: center;
  justify-content: center;
}

.is-align-center {
  align-items: center;
}

.is-justify-between {
  justify-content: space-between;
}

.is-flex-column {
  flex-direction: column;
}

// Helpers
.has-border {
  border: 1px solid rgb(203, 213, 224);
}

.has-shadow {
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px,
    rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
}

// Typography
.has-text-through {
  text-decoration: line-through;
}
