/* MOBILE */
@media screen and (max-width: 768px) {
  // Spacing
  .m-auto-mobile {
    margin: auto;
  }

  // Visibility
  .is-flex-column-mobile {
    flex-direction: column;
  }

  // Size
  .is-complete-height-mobile {
    height: calc(100vh - 53px);
  }

  // Overflow
  .overflow-scroll-mobile {
    overflow: scroll;
  }

  // Custom
  .max-sidebar-height-mobile {
    height: $max-height-sidebar-mobile;
  }
}
