// Set your colors
$primary: #8c67ef;
$primary-invert: findColorInvert($primary);
$twitter: #4099ff;
$twitter-invert: findColorInvert($twitter);

// Links
$link: $primary;
$link-invert: $primary-invert;
$link-focus-border: $primary;

// Title
$title-weight: 700;
$title-line-height: 1.25;

// Form
$max-width: 360px;
$form-container-border: 1px;

$small-input-height: 2em;

// Box
$box-radius: 8px;
$box-padding: 1.5rem;

// Size
$complete-height: calc(100vh - 58px);
$max-height-sidebar-mobile: 220px;
