<template>
  <div class="mb-2 mt-3">
    <div class="is-flex is-flex-column is-width-100">
      <b-field :label="label" label-position="on-border">
        <slot name="input"></slot>
        <p class="control">
          <b-button :size="size" class="button is-primary" @click="create">
            Create
          </b-button>
        </p>
      </b-field>
    </div>
  </div>
</template>

<script>
export default {
  name: "CreateInput",
  props: {
    label: String,
    size: String,
    create: Function
  }
};
</script>
