<template>
  <div
    class="is-flex is-flex-center is-complete-height is-complete-height-mobile"
  >
    <div class="box is-width-100 form-container">
      <div class="container has-text-centered">
        <p class="title has-text-grey-dark">Login</p>
      </div>
      <div class="my-4 has-text-left">
        <form>
          <section>
            <b-field
              label="Email"
              :type="{ 'is-danger': $v.user.email.$error }"
              :message="{
                'The email field is required':
                  !$v.user.email.required && $v.user.email.$error,
                'The email must be a valid one':
                  !$v.user.email.email && $v.user.email.$error
              }"
            >
              <b-input v-model.trim="$v.user.email.$model" />
            </b-field>
          </section>
          <section class="mt-4">
            <b-field
              label="Password"
              :type="{ 'is-danger': $v.user.password.$error }"
              :message="{
                'The password field is required':
                  !$v.user.password.required && $v.user.password.$error
              }"
            >
              <b-input type="password" v-model.trim="$v.user.password.$model" />
            </b-field>
          </section>
          <b-button
            class="mt-4"
            type="is-dark"
            expanded
            :loading="isLoading"
            @click.prevent="loginUser"
          >
            Login
          </b-button>
        </form>
      </div>
    </div>
  </div>
</template>

<script>
import { mapActions } from "vuex";
import { validationMixin } from "vuelidate";
import { required, minLength, email } from "vuelidate/lib/validators";

export default {
  name: "LoginForm",
  mixins: [validationMixin],
  data() {
    return {
      user: {
        email: "",
        password: ""
      },
      isLoading: false
    };
  },
  validations: {
    user: {
      email: {
        required,
        email
      },
      password: {
        required,
        minLength: minLength(8)
      }
    }
  },
  methods: {
    ...mapActions("userStore", ["changeAuth", "login"]),
    async loginUser() {
      const deny = () => {
        this.changeAuth(false);
        this.isLoading = false;
      };
      this.isLoading = true;
      this.$v.$touch();
      if (this.$v.$invalid) {
        deny();
        return;
      }
      this.login({
        email: this.user.email,
        password: this.user.password
      })
        .then(() => {
          this.isLoading = false;
          this.$router.push("/");
        })
        .catch((error) => {
          this.$buefy.toast.open({
            message: error.message,
            type: "is-danger",
            duration: 2000
          });
          this.isLoading = false;
        });
    }
  }
};
</script>
