<template>
  <div
    class="is-flex is-flex-center is-complete-height is-complete-height-mobile"
  >
    <div class="box is-width-100 form-container">
      <div class="container has-text-centered">
        <p class="title has-text-grey-dark">Register</p>
      </div>
      <div class="mt-4 mb-4 has-text-left">
        <form>
          <section>
            <b-field
              label="Username"
              :type="{ 'is-danger': $v.user.username.$error }"
              :message="{
                'The Username field is required': $v.user.username.$error
              }"
            >
              <b-input v-model.trim="user.username" />
            </b-field>
          </section>
          <section class="mt-2">
            <b-field
              label="Email"
              :type="{ 'is-danger': $v.user.email.$error }"
              :message="{ 'The Email field is required': $v.user.email.$error }"
            >
              <b-input v-model.trim="user.email" />
            </b-field>
          </section>
          <section class="mt-2">
            <b-field
              label="Password"
              :type="{ 'is-danger': $v.user.password.$error }"
              :message="{
                'The Password field is required':
                  $v.user.password.$error && !$v.user.password.required,
                'The Password must contain 8 characters':
                  $v.user.password.$error && !$v.user.password.minLength
              }"
            >
              <b-input type="password" v-model.trim="user.password" />
            </b-field>
          </section>
          <section class="mt-2">
            <b-field
              label="Confirm Password"
              :type="{ 'is-danger': $v.user.confirmPassword.$error }"
              :message="{
                'The Password does not match':
                  $v.user.confirmPassword.$error &&
                  !$v.user.confirmPassword.sameAsPassword
              }"
            >
              <b-input type="password" v-model.trim="user.confirmPassword" />
            </b-field>
          </section>
          <b-button
            class="mt-4"
            type="is-dark"
            expanded
            :loading="isLoading"
            @click.prevent="registerUser"
          >
            Register
          </b-button>
        </form>
      </div>
    </div>
  </div>
</template>

<script>
import { mapActions } from "vuex";
import { validationMixin } from "vuelidate";
import { sameAs, required, minLength, email } from "vuelidate/lib/validators";

export default {
  name: "RegisterForm",
  mixins: [validationMixin],
  data() {
    return {
      user: {
        username: "",
        email: "",
        password: "",
        confirmPassword: ""
      },
      isLoading: false,
      show: false
    };
  },
  validations: {
    user: {
      username: {
        required
      },
      email: {
        required,
        email
      },
      password: {
        required,
        minLength: minLength(8)
      },
      confirmPassword: {
        required,
        sameAsPassword: sameAs("password")
      }
    }
  },
  methods: {
    ...mapActions("userStore", ["changeAuth", "register"]),
    async registerUser() {
      const deny = () => {
        this.changeAuth(false);
        this.isLoading = false;
      };
      this.isLoading = true;
      this.$v.$touch();
      if (this.$v.$invalid) {
        deny();
        return;
      }
      this.register(this.user)
        .then(() => {
          this.isLoading = false;
          this.$router.push("/");
        })
        .catch((error) => {
          if (error) {
            this.$buefy.toast.open({
              message: error.message,
              type: "is-danger",
              duration: 2000
            });
          } else {
            this.$buefy.toast.open({
              message: "An error has ocurred in the signup attempt",
              type: "is-danger",
              duration: 5000
            });
          }
        });
    }
  }
};
</script>
