<template>
  <div
    id="home"
    class="is-flex is-flex-column-mobile is-complete-height-mobile"
  >
    <side-bar />
    <current-collection />
  </div>
</template>

<script>
import SideBar from "@/components/Home/SideBar.vue";
import CurrentCollection from "@/components/Collections/CurrentCollection.vue";
import { mapActions } from "vuex";

export default {
  name: "Home",
  components: { SideBar, CurrentCollection },
  methods: {
    ...mapActions("collectionStore", ["changeCollections", "clear"])
  },
  async beforeMount() {
    this.changeCollections().catch((error) => {
      this.$buefy.toast.open({
        message: error,
        type: "is-danger"
      });
    });
  },
  beforeDestroy() {
    this.clear();
  }
};
</script>
