<template>
  <section id="login">
    <login-form />
  </section>
</template>

<script>
import LoginForm from "@/components/Form/LoginForm.vue";

export default {
  name: "Login",
  components: { LoginForm }
};
</script>
