<template>
  <section id="register">
    <register-form />
  </section>
</template>

<script>
import RegisterForm from "@/components/Form/RegisterForm.vue";

export default {
  name: "Register",
  components: { RegisterForm }
};
</script>
