<template>
  <div
    class="is-width-30 is-complete-height max-sidebar-height-mobile overflow-scroll-mobile px-2 has-border has-shadow is-width-100-mobile"
    id="sideBar"
  >
    <collections-list />
  </div>
</template>

<script>
import CollectionsList from "@/components/Collections/CollectionsList.vue";

export default {
  name: "SideBar",
  components: { CollectionsList }
};
</script>
