<template>
  <section>
    <header-item v-if="logged" key="header-menu">
      <a class="button is-text">Hello, {{ user }}</a>
      <a class="button is-danger" @click="logOut">Logout</a>
    </header-item>
    <header-item v-else key="header-menu">
      <router-link to="/register" class="button is-primary">
        Register
      </router-link>
      <router-link to="/login" class="button is-light">Login</router-link>
    </header-item>
  </section>
</template>

<script>
import HeaderItem from "./HeaderItem.vue";
import { mapState, mapActions } from "vuex";
import { localToken } from "@/utils/user";

export default {
  name: "HeaderMenu",
  components: { HeaderItem },
  computed: {
    ...mapState({
      logged: (state) => state.userStore.logged,
      user: (state) => state.userStore.user
    })
  },
  methods: {
    ...mapActions("userStore", ["changeAuth"]),
    logOut() {
      this.changeAuth(false);
      localToken("delete");
      this.$router.push("/login");
    }
  }
};
</script>
