<template>
  <b-navbar class="is-success">
    <template slot="brand">
      <b-navbar-item tag="router-link" :to="{ path: '/' }">
        <h2 class="has-text-dark is-size-5 has-text-weight-medium">TodoAPP</h2>
      </b-navbar-item>
    </template>
    <template slot="end">
      <header-menu />
    </template>
  </b-navbar>
</template>

<script>
import HeaderMenu from "./HeaderMenu.vue";
import { mapState } from "vuex";

export default {
  name: "Header",
  data: () => {
    return {
      show: false
    };
  },
  computed: mapState("userStore", ["logged"]),
  methods: {
    openMenu() {
      this.show = true;
    },
    closeMenu() {
      this.show = false;
    }
  },
  components: {
    HeaderMenu
  }
};
</script>
