<template>
  <main id="main" class="is-full-height">
    <Header />
    <router-view />
  </main>
</template>

<script>
import Header from "@/components/Header/Header.vue";

export default {
  name: "App",
  components: {
    Header
  }
};
</script>
